#main, .subtitle {
display: flex;
justify-content: center;
align-items: center;
}

#main {
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 60px;
}

#rec-cont-title {
    font-size: 25px;
    color: grey;
}

.panel {
    float: right;
    width: 1020px;
}

.recents-container {
  float: left;
  width: 470px;
  background-color: antiquewhite;
  
}

.panel-heading {
    font-size: 27px;
}

#search-results {
    float: right;
    width: 1034px;
}  

#search-button {
    float: right;  
}

.food-images {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: stretch;
    overflow: scroll; 
}

/* media queries for responsiveness */

@media only screen and (max-width: 768px) {
    #main {
        font-size: 40px;
    }
    .recents-container,
    .panel {
        width: 100%;
        float: none;
    }
}